<div class="row text-center">
    <div class="col">
        <h1>Contador</h1>
        <h2>{{contador}}</h2>
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <button class="btn btn-primary" (click)="incrementar()">
            Incrementar
        </button>
        <button class="ml-2 btn btn-info" (click)="decrementar()">
            Decrementar
        </button>
    </div>
</div>

<hr>

<div class="row text-center">
    <div class="col">
        <app-hijo [contador]="contador" (changeCont)="asignCont($event)"></app-hijo>
    </div>
</div>
